{% extends "main.html" %}

{% block content %}
<center>
	<img src="{{ url_for('static', filename='athina-ereyna-kainotomia-logo-big.png') }}">
	<img src="{{ url_for('static', filename='eu_arch_logo_gr.jpg') }}">
	<img src="{{ url_for('static', filename='Greece2.0 gr.jpg') }}">
	<img src="{{ url_for('static', filename='archimedes_ai-2.jpg') }}">
	<img src="{{ url_for('static', filename='ipertameio_0.jpg') }}">
</center>
<footer class="footer">
            <p>Στα πλαίσια υλοποίησης του έργου 'Μονάδα ΑΡΧΙΜΗΔΗΣ: Έρευνα στην Τεχνητή Νοημοσύνη, την Επιστήμη δεδομένων και τους Αλγόριθμους', </p>
                <p>αναπτύξαμε μια εφαρμογή για πρόβλεψη πληρότητας των οχημάτων στόλου του Ο.Α.Σ.Α. </p>
        </footer>
{% endblock %}
