<style>
	.rectangle-container {
	  border: 1px solid #ccc;
	  background-color: #f8f8f8;
	  padding: 10px;
	  display: flex;
	  justify-content: center;
	}
	
	.rectangle-content {
	  width: 80%;
	}
	</style>
	
	{% extends "main.html" %}
	
	{% block content %}
	<center>

	<div class="rectangle-container">
		<div class="rectangle-content">
		  <footer class="footer">
			<center>
			  <p>Στα πλαίσια του έργου “Data for Social Good” ασχοληθήκαμε με την αξιοποίηση δεδομένων του Οργανισμού Αστικών Συγκοινωνιών Αθήνας ΟΑΣΑ με σκοπό την ανάπτυξη ενός πρωτότυπου εργαλείου-εφαρμογής που θα επιλύει το πρόβλημα της πρόβλεψης πληρότητας ενός μεταφορικού μέσου (τρόλεϊ ή λεωφορείο).</p>
			  <p>Αυτή η πρόβλεψη είναι σημαντική για τον καλύτερο σχεδιασμό και τη βελτιστοποίηση των μεταφορικών υπηρεσιών. Προσδιορίζοντας τους παράγοντες που επηρεάζουν την πληρότητα, μπορούμε να αναπτύξουμε αλγορίθμους και μοντέλα πρόβλεψης που θα βοηθήσουν στον καλύτερο και πιο αποδοτικό σχεδιασμό των δρομολογίων, καθώς και στην ορθή ενημέρωση του επιβατικού κοινού για την πληρότητα των μέσων τα οποία χρησιμοποιεί.</p>
			</center>
		  </footer>
		</div>
	  </div>



	  <img src="{{ url_for('static', filename='athina-ereyna-kainotomia-logo-big.png') }}">
	  <img src="{{ url_for('static', filename='eu_arch_logo_gr.jpg') }}">
	  <img src="{{ url_for('static', filename='Greece2.0 gr.jpg') }}">
	  <img src="{{ url_for('static', filename='archimedes_ai-2.jpg') }}" height="300">
	  <img src="{{ url_for('static', filename='ipertameio_0.jpg') }}" width="500" height="378">
	</center>
	{% endblock %}
	