{% extends "main.html" %}

{% block content %}
    <div class="container">
        <form action="{{ url_for('stopinfo', selected_option=selected_option) }}" method="POST">
            <h2>Επίλεξε ποια στάση από τη γραμμή {{ selected_option }} με κατεύθυνση {{ dir }}</h2>
            <label for="stop-dropdown">Διάλεξε:</label>
            <select id="stop-dropdown" name="stop-dropdown">
                {% for stop in stops %}
                <option value="{{ stop }}">{{ stop }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Ψάξε">
    </div>
{% endblock %}
